body {
    background-color: #121212;
    color: #eee;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.menu{
    background-color: #1f1f1f;
}
.menu ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista-menu{
    height: 50px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
.lista-menu:hover a{
    background-color: #444;
    color: #00d1ff;
    border-radius: 5px;
}
.lista-menu:hover .icones-menu{
    filter: invert(55%) sepia(97%) saturate(3630%) hue-rotate(175deg) brightness(95%) contrast(101%);
}
.lista-menu a{
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre ícone e texto */
    width: 100%;
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    color: white;
}
.icones-menu{
    width: 50px;
    height: 50px;
    filter: brightness(0) invert(1);
    
}
.container-principal{
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    
}
.box{
    flex: 1;
    padding: 5px 5px 30px 5px;
    margin: 30px 5px 5px 5px;
    background-color: #1f1f1f;
    border-radius: 10px;
}
.controles{
    padding: 2px;
}
.controles ul{
    margin: 0;
    padding: 0;
}
.lista-controles{
    list-style: none;
}
.video-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1f1f1f;
    min-width: 640px;
    flex: 1;
}
.img-video{
    background-color: #00bcd4;
}
.controls {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.motor-control {
    background: #1f1f1f;
    border-radius: 12px;
    margin-top: 5px;
    padding: 20px;
    box-shadow: 0 0 10px #000;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 200px;
}

button {
    margin-top: 10px;
    background: #00bcd4;
    color: #000;
    border: none;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.3s;
}

button:hover {
    background: #26c6da;
}

.motores{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icones-monitoramento{
    width: 100px;
    height: 100px;

}
.espelhado{
    transform: scaleX(-1);
}
.linha-tempo{
    flex-basis: 100%;
    margin: 0px 5px;
}






.timeline-horizontal {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin: 40px 0;
}

.timeline-horizontal::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 3px;
    background: #00d1ff;
    transform: translateY(-50%);
    z-index: -1;
}

.timeline-item {
    position: relative;
    background: #f0f0f0;
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background: #00d1ff;
    border-radius: 50%;
}
