body {
    background-color: #121212;
    color: #eee;
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
